/* Responsive Media Queries */

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 576px) {

    /* CSS rules for extra small devices go here */
    .navbar {
        flex-direction: column;
        padding: 1rem 0;
    }

    .trusted-container {
        flex-direction: column;
        padding: 0 2rem;
    }

    .flower-img {
        max-width: 100%;
    }

    .trusted-img {
        max-width: 100%;

    }

    .seller-img {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 0 2rem;
    }

    .title-text {
        font-family: "Noto Serif", serif;
        font-weight: bold;
        font-size: 2.5rem;
    }

    .banner-img {
        max-width: 100%;
    }

    .banner-text {
        padding-top: 1rem;
    }

    .plants-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 0 2rem;
    }

    .card-image {
        max-width: 100%;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .banner {
        flex-direction: column-reverse;
        padding: 0 2rem;
    }

    .plants-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 0 2rem;
    }

    .banner-text {
        padding-top: 1rem;
    }

    .title-text {
        font-family: "Noto Serif", serif;
        font-weight: bold;
        font-size: 2.5rem;
    }

    .banner-img {
        max-width: 100%;
    }

    .card-image {
        max-width: 100%;
    }

    .trusted-img {
        max-width: 100%;

    }

    .seller-img {
        display: none;
    }

    .trusted-container {
        flex-direction: column;
    }

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .plants-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 0 2rem;
    }

    .trusted-container {
        flex-direction: column;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 0 2rem;
    }

    .title-text {
        font-family: "Noto Serif", serif;
        font-weight: bold;
        font-size: 2.5rem;
    }

    .banner-img {
        max-width: 100%;
    }

    .card-image {
        max-width: 100%;
    }

    .trusted-img {
        max-width: 100%;

    }

    .seller-img {
        display: none;
    }

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1192px) {
    .title-text {
        font-size: 3rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    /* CSS rules for extra large devices go here */
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    /* CSS rules for extra extra large devices go here */
}